* {
  box-sizing: border-box;
  font-family: Robot;
}
.App {
  text-align: center;
}
h3,
h4 {
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

h6 {
  padding-bottom: 3px;
}

.question-card {
  margin: 0 auto;
  background-image: url('https://images.pexels.com/photos/2233399/pexels-photo-2233399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  padding: 2rem;
  background-size: contain;
  border-radius: 1rem;
  color: #fff;
  width: 80%;
  height: auto;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  background-color: rgb(250, 250, 250);
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #030303;
}

li:hover {
  background-color: rgb(192, 192, 192);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.221);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.311);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.244);
  }
}

.question-text {
  background-image: url('https://images.pexels.com/photos/2233399/pexels-photo-2233399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  font-size: 2.5rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border-radius: 1rem;
  animation: glow 5s infinite;
}

.final-results {
  margin: 0 auto;
  background-image: url('https://images.pexels.com/photos/2233399/pexels-photo-2233399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 40%;
  height: 20rem;
  cursor: pointer;
}

button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
}

.social-media i {
  font-size: 24px;
  color: #030303;
  transition: color 0.3s, transform 0.3s;
}

.social-media i:hover {
  color: #0077b5;
  cursor: pointer;
  transform: scale(1.2);
}

.smiley {
  font-size: 2em;
  margin: 10px;
}

.happy {
  color: green;
}

.sad {
  color: red;
}

.all-answers {
  margin-top: 20px;
}

.all-answers h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.all-answers table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.all-answers th,
.all-answers td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.all-answers th {
  background-color: #f2f2f2;
}

.all-answers .correct {
  color: #4caf50;
}

.all-answers .incorrect {
  color: #ff0000;
}

.custom-header {
  color: #191917;
  padding: 1.07rem;
  border-radius: 0.5rem;
  animation: lightAnimation 1s infinite alternate;
  background-image: linear-gradient(45deg, #56abd5, #53b57e, #eef4d7);
  background-size: 200% 200%;
}

@keyframes lightAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
